@import "buttons";

@import "fields";

.comment-form .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded {
    width: 100% !important;
}

aside.widget-area {
    display: none !important;
    visibility: hidden !important;
}