$font__main: $font-family-sans-serif;
$font__code: $font-family-monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace !default;
//$font__line-height-body: 1.5 !default;
//$font__line-height-pre: 1.6 !default;

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}
