.main-navigation {
	z-index: 1;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	min-height: 3.375em;
}

.main-navigation .navbar-toggler {
	z-index: 1;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
