{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

  {% if article.customcss %}
    {% block customCSS %}
        {% for css in article.customcss %}
            <link rel="stylesheet" type="text/css" href="{{css}}" />
        {% endfor %}
    {% endblock customCSS %}
  {% endif %}
  {% if article.customjs %}
    {% block customJS %}
        {% for js in article.customjs %}
            <script type="text/javascript" src="{{js}}"></script>
        {% endfor %}
    {% endblock customJS %}
  {% endif %}

{% endblock %}

{% block content %}
<section id="content" class="body demo-blog__posts mdl-grid">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col" style="background-color: #F5F5F5;">
  <header class="mdl-card__media {% if article.postformat %}{% if article.postformat == 'quote' %}quote {% endif %}{% endif %}mdl-color-text--grey-50 featured-post-image" style="{% if article.thumbnail %}background:url('{{ article.thumbnail }}') no-repeat;background-size: cover;{% endif %}">
    <!--
    <h3 class="entry-title" style=""><span class="devicons devicons-docker" style="font-size: 2em; display: inline-block; position: relative; top: 0.25em;"></span>&nbsp;How Not To Use Docker</h3>
    -->
    {% if article.headingtheme %}
        {% if article.headingtheme == 'dark' %}
            {% set headingThemeVariant = ('color: ' + DARK_HEADING_COLOUR + ' !important;') %}
        {% elif article.headingtheme == 'light' or article.headingtheme != 'custom' %}
            {% set headingThemeVariant = ('color: ' + LIGHT_HEADING_COLOUR + ' !important;') %}
        {% else %}
            {% if article.customtheme %}
                {% set headingThemeVariant = article.customtheme %}
            {% else %}
                {% set headingThemeVariant = '' %}
            {% endif %}
        {% endif %}
    {% else %}
        {% set headingThemeVariant = ('color: ' + LIGHT_HEADING_COLOUR + ' !important;') %}
    {% endif %}
    <h2 class="entry-title{% if article.postformat %}{% if article.postformat == 'quote' %} quote {% endif %}{% endif %}" style="{{ headingThemeVariant }}position: relative;top: 1em;font-size: 34px;">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}"
         style="{{ headingThemeVariant }}"
      >
         {% if article.headingiconfont %}
            <span class="{{article.headingiconfont}}"
                  style="
                    {% if 'devicons' in article.headingiconfont %}
                        font-size: 2em;
                        display: inline-block;
                        position: relative;
                        top: 0.25em;
                    {% endif %}">
            </span>
         {% endif %}
         {{ article.title }}
      </a>
    </h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <!--
		<div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
			<div class="minilogo"></div>
			<div>
				<strong><?php echo get_the_author(); ?></strong>
				<span><?php aidanharris_material_design_posted_on(); ?></span>
			</div>
			<div class="section-spacer"></div>
			<div class="meta__favorites">
			425 <i class="material-icons" role="presentation">favorite</i>
				<span class="visuallyhidden">favorites</span>
			</div>
			<div>
			<i class="material-icons" role="presentation">bookmark</i>
				<span class="visuallyhidden">bookmark</span>
			</div>
			<div>
			<i class="material-icons" role="presentation">share</i>
				<span class="visuallyhidden">share</span>
			</div>
		</div>
  -->
  <footer class="post-info mdl-color-text--grey-700 mdl-card__supporting-text meta">
    <div class="minilogo"></div>
    <div>
        <span>
            <span class="posted-on">Posted on <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
                <time class="entry-date published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                {% if article.modified %}
                    <time class="modified updated" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
                {% endif %}
                </a></span>
                {% if article.authors %}
                <span class="byline" style="display: block"> by {% for author in article.authors %}<span class="author vcard"><a class="url fn n" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% endfor %}</span>
                {% endif %}
            </span>
        </span>
    </div>
  </footer><!-- /.post-info -->
  <div class="entry-content mdl-color-text--grey-700 mdl-card__supporting-text" style="position: relative;top: -1.47rem;">
    {{ article.content }}
  </div><!-- /.entry-content -->
  {% if article.commentsopen == False or article.commentsopen == 'False' %}
    {% set commentsOpen = False %}
    {% set commentsOpenClass = 'comments-closed' %}
  {% else %}
    {% set commentsOpen = True %}
    {% set commentsOpenClass = 'comments-open' %}
  {% endif %}
  {% if commentsOpen == True %}
  <div id="disqus_thread" class="{{ commentsOpenClass}}" style="margin: 2.5%;"></div>
  <script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  var disqus_config = function () {
      this.page.url = window.location.protocol + '//' + window.location.host + window.location.pathname;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = {{ article.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
      var d = document, s = d.createElement('script');
      
      s.src = '//aidanharris.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
      
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% else %}
  <div id="disqus_thread" class="{{ commentsOpenClass}}" style="text-align: center;"><strong>Comments are closed for this article</strong></div>
  {% endif %}
  </div>
</section>
{% endblock %}
