{% extends "base.html" %}
{% block content %}
{% block content_title %}
{% endblock %}
<div id="primary" class="container-fluid">
{% set _i = RESETI() %}
{% for article in articles_page.object_list %}
    {% set i = GETI() %}
        {% if i == 0 %}
            {% set colClass = 'col-sm-7' %}
        {% elif i == 1 %}
            {% set colClass = 'col-sm-5' %}
        {% else %}
            {% set colClass = 'col-md' %}
        {% endif %}
        {% if i == 0 or i > 1 %}
        <div class="row" style="margin-top: 1em;">
        {% endif %}
        <div class="{{ colClass }}">
        <div id="post-{{ article.slug }}" class="card">
        {#
        To Do:
            * Clean Me Up!
        #}
        {% if article.headingtheme %}
            {% if article.headingtheme == 'dark' %}
                {% set headingThemeVariant = ('color: ' + DARK_HEADING_COLOUR + ' !important;') %}
                {# set headingThemeVariant = '' #}
            {% elif article.headingtheme == 'light' or article.headingtheme != 'custom' %}
                {% set headingThemeVariant = ('color: ' + LIGHT_HEADING_COLOUR + ' !important;') %}
                {# set headingThemeVariant = 'card-inverse' #}
            {% else %}
                {% if article.customtheme %}
                    {% set headingThemeVariant = article.customtheme %}
                    {# set headingThemeVariant = '' #}
                {% else %}
                    {% set headingThemeVariant = '' %}
                {% endif %}
            {% endif %}
        {% else %}
            {% set headingThemeVariant = ('color: ' + LIGHT_HEADING_COLOUR + ' !important;') %}
            {# set headingThemeVariant = '' #}
        {% endif %}
        {% if article.thumbnail %}
        <img class="card-img" style="height: 200px; width: 100%; display: block;" src="{{ article.thumbnail }}" alt="Card image">
        <div class="card-img-overlay">
            <h3 class="card-title" style="{{ headingThemeVariant }}"><a href="{{ article.url }}" rel="bookmark" title="{{ article.title }}" style="color: inherit;">{% if article.headingiconfont %}<span class="{{article.headingiconfont}}" style="{% if 'devicons' in article.headingiconfont %}font-size: 2em; display: inline-block; position: relative; top: 0.25em;{% endif %}"></span>{% endif %}{% if article.beforeheading %}{{ article.beforeheading }}{% endif %}{{ article.title }}</a></h3>
        </div>
        {% else %}
        <div class="card-block card-header {{ headingThemeVariant }}" style="height: 200px;">
            <h3 class="card-title" style="{{ headingThemeVariant }}"><a href="{{ article.url }}" rel="bookmark" title="{{ article.title }}" style="color: inherit;">{% if article.headingiconfont %}<span class="{{article.headingiconfont}}" style="{% if 'devicons' in article.headingiconfont %}font-size: 2em; display: inline-block; position: relative; top: 0.25em;{% endif %}"></span>{% endif %}{% if article.beforeheading %}{{ article.beforeheading }}{% endif %}{{ article.title }}</a></h3>   
        </div>
        {% endif %}
        <!--
        <div style="{% if article.thumbnail %}background:url('{{ article.thumbnail }}') no-repeat;{% endif %}background-size: cover;" onclick="window.location.href = '{{ article.url }}';" title="{{ article.title }}">
            <h3 class="entry-title" style="{{ headingThemeVariant }}"><a href="{{ article.url }}" rel="bookmark" style="{{ headingThemeVariant }}" title="{{ article.title }}">{% if article.headingiconfont %}<span class="{{article.headingiconfont}}" style="{% if 'devicons' in article.headingiconfont %}font-size: 2em; display: inline-block; position: relative; top: 0.25em;{% endif %}"></span>{% endif %}{% if article.beforeheading %}{{ article.beforeheading }}{% endif %}{{ article.title }}</a></h3>
        </div>
        -->
        {% if i > 1 %}
        <div class="entry-content card-block">
            {{ article.summary }}

            <a href="{{ article.url }}">Read More&hellip;</a>
        </div><!-- .entry-content -->
        {% endif %}
		<div class="card-footer" style="z-index: 13;">
				<strong>
                    By&nbsp;
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </strong>
				<span class="posted-on" style="display: block;">
                    Posted on&nbsp;
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </span>
		</div><!-- .entry-meta -->
        </div>
        </div>
        {% if i > 0 %}
            </div>
        {% endif %}
{% endfor %}
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</div>
{% endblock content %}
