{% extends "base.html" %}
{% block content %}
{% block content_title %}
{% endblock %}
<div id="primary" class="content-area demo-blog__posts mdl-grid">
{% set _i = RESETI() %}
{% for article in articles_page.object_list %}
    {% set i = GETI() %}
        {% if i == 0 %}
            {% set colClass = 'mdl-cell--8-col' %}
        {% elif i == 1 %}
            {% set colClass = 'mdl-cell--8-col mdl-cell--4-col-desktop' %}
        {% else %}
            {% set colClass = 'mdl-cell--12-col' %}
        {% endif %}
        <div id="post-{{ article.slug }}" class="mdl-card {% if i > 1 %}on-the-road-again{% endif %} {% if i == 1 %}something-else {% endif %}mdl-cell {{ colClass }}" {% if i == 0 %}style="min-height: 25em;"{% endif %}>
        {% if article.headingtheme %}
            {% if article.headingtheme == 'dark' %}
                {% set headingThemeVariant = ('color: ' + DARK_HEADING_COLOUR + ' !important;') %}
            {% elif article.headingtheme == 'light' or article.headingtheme != 'custom' %}
                {% set headingThemeVariant = ('color: ' + LIGHT_HEADING_COLOUR + ' !important;') %}
            {% else %}
                {% if article.customtheme %}
                    {% set headingThemeVariant = article.customtheme %}
                {% else %}
                    {% set headingThemeVariant = '' %}
                {% endif %}
            {% endif %}
        {% else %}
            {% set headingThemeVariant = ('color: ' + LIGHT_HEADING_COLOUR + ' !important;') %}
        {% endif %}
        <div class="mdl-card__media mdl-color-text--grey-50 wide-thumb" style="{% if article.thumbnail %}background:url('{{ article.thumbnail }}') no-repeat;{% endif %}background-size: cover;" onclick="window.location.href = '{{ article.url }}';" title="{{ article.title }}">
            <h3 class="entry-title" style="{{ headingThemeVariant }}"><a href="{{ article.url }}" rel="bookmark" style="{{ headingThemeVariant }}" title="{{ article.title }}">{% if article.headingiconfont %}<span class="{{article.headingiconfont}}" style="{% if 'devicons' in article.headingiconfont %}font-size: 2em; display: inline-block; position: relative; top: 0.25em;{% endif %}"></span>{% endif %}{% if article.beforeheading %}{{ article.beforeheading }}{% endif %}{{ article.title }}</a></h3>
        </div>
        {% if i > 1 %}
        <div class="entry-content mdl-color-text--grey-600 mdl-card__supporting-text" style="position: relative;top: -1.47rem;">
            {{ article.content }}
        </div><!-- .entry-content -->
        {% endif %}
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600" style="position: relative;top: -1.47rem;">
			<div>
				<strong>
                    By&nbsp;
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </strong>
				<span class="posted-on">
                    Posted on&nbsp;
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </span>
			</div>
		</div><!-- .entry-meta -->
        </div>
{% endfor %}
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</div>
{% endblock content %}
